<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DeepWisdom - Bible Data Analytics Platform</title>

    {% load static %}
    <!-- Bootstrap core CSS-->
    <link href="{% static 'deepwisdom/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'deepwisdom/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'deepwisdom/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'deepwisdom/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="{% static 'deepwisdom/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'deepwisdom/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'deepwisdom/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'deepwisdom/css/sb-admin.css' %}" rel="stylesheet">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- #region datatables files -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- #endregion -->

    <style>
    .nav{
      position: fixed !important;
    }
    </style>
    
    <!-- AJAX -->
    <script>
      $(document).ready(function(){
        var tripped = false;
        var myPieChart;
        var myBarChart;
        var myScatterChart;
        var myDataTable = $('#dataTable').DataTable();
        function addDataToDataTable(raw_json_data){
          var results_string="";
          var count=0;
          for (var key in raw_json_data) {
              if (raw_json_data.hasOwnProperty(key)) {
                  console.log(key + " -> " + raw_json_data[key]);
                  //results_string+="<tr><td>"+count.toString()+"</td><td>"+key+"</td><td>"+raw_json_data[key]+"</td></tr>";
                  myDataTable.row.add( [
                              count.toString(),
                              key,
                              raw_json_data[key]
                              ] ).draw( true );
              }
              count+=1;
          }
          
          mydataTable.ajax.reload();
          //results_string+="<hr>";
          return;
        }

        function removeDataFromDataTable(){
            myDataTable
                  .clear()
                  .draw();
          }

        function getKeywordsString(raw_json_data){
          results_string="";
          for(var i in raw_json_data)
          {
            console.log(i);
            results_string += "<font size=\"4\">"+ raw_json_data[i].toString() +"</font>,  ";
            //results_string+="<tr><td>"+count.toString()+"</td><td>"+key+"</td><td>"+raw_json_data[key]+"</td></tr>";
          }
          return results_string.slice(0, results_string.length-3);
        }

        $('#IdForm').on('submit',function (e) {
           $.ajax({
            type: 'get',
            url: '.',
            data: $('#IdForm').serialize(),
             success: function (results) {
                console.debug(results);
                console.debug($('#IdForm').serialize()["search"]);
                // Populate pie chart div
                //Plotly.newPlot('plot', results['pie_results'].data, results['pie_results'].layout);
                
                // Set new default font family and font color to mimic Bootstrap's default styling
                Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                Chart.defaults.global.defaultFontColor = '#292b2c';

                if(!tripped){
                  tripped=true;
                  // Create pie chart
                  document.getElementById("myPieChart").innerHTML="";
                  var ctx = document.getElementById("myPieChart");
                  myPieChart = new Chart(ctx,results['pie_results']);

                  // Create bar chart
                  var ctx = document.getElementById("myBarChart");
                  myBarChart = new Chart(ctx, results["bar_results"]);
                  
                  // Create scatter chart
                  var ctxSc = document.getElementById("myScatterChart").getContext('2d');
                  myScatterChart = new Chart(ctxSc, results["scatter_results"]);
                }
                else{
                  /*
                  {
                    type: 'pie',
                    data: {
                      labels: ["Blue", "Red", "Yellow", "Green"],
                      datasets: [{
                        data: [12.21, 15.58, 11.25, 8.32],
                        backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
                      }],
                    },
                  }
                  */

                  // Update pie chart
                  myPieChart["data"]=results['pie_results']["data"];
                  myPieChart["options"]=results["pie_results"]['options'];

                  // Update bar chart
                  myBarChart["data"]=results["bar_results"]["data"];
                  myBarChart["options"]=results["bar_results"]["options"];
                  
                  // Update bar chart
                  myScatterChart["data"]=results["scatter_results"]["data"];
                  myScatterChart["options"]=results["scatter_results"]["options"];
                }
                

                  // Update pie chart tooltip
                  myPieChart["options"]["tooltips"]["callbacks"]["label"]=function(tooltipItem, data) {
                      //get the concerned dataset
                      var dataset = data.datasets[tooltipItem.datasetIndex];
                      //calculate the total of this data set
                      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                        return previousValue + currentValue;
                      });
                      //get the current items value
                      var currentValue = dataset.data[tooltipItem.index];
                      //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                      var percentage = Math.floor(((currentValue/total) * 100));
                      var lab = data.labels[tooltipItem.index];
                      return lab + ": " + percentage + "%";
                    };

                  // Update scatter chart tooltip
                  myScatterChart["options"]["tooltips"]["callbacks"]["label"]=function(tooltipItem, data) {
                                                                                 var label = data.labels[tooltipItem.index];
                                                                                 return label;
                                                                              };

                // Update Embedded Topics
                keywordsHTMLString=getKeywordsString(results["keyword_results"]);
                document.getElementById("keywordsContainer").innerHTML=keywordsHTMLString;

                // Update everyone
                myPieChart.update();
                myBarChart.update();
                myScatterChart.update();

                // Insert data removing previous queries first
                removeDataFromDataTable();
                addDataToDataTable(results["search_results"]);
             }
            }
            );
           e.preventDefault();
           });
        });
    </script>
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="../">DeepWisdom.AI</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form id="IdForm" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method='get' action=".">
        <div class="input-group">
          <input id='search' name="search" type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
      -->
        <li class="nav-item active">
          <a class="nav-link" href="../charts/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Explore</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="../">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Explore</li>
          </ol>

          <!-- Icon Cards-->
          
          <div>
            <img src="{% static 'deepwisdom/img/logo.png' %}">
            <hr>
            <h2>Explore</h2>
            <p>Recommendation is powerful. We have algorithms that connect your text to deep wisdom lodged within scripture and the minds of hundreds of biblical scholars. Whatever word or phrase you are interested in deeping your understanding of, go ahead and explore. Even pasting full phrases or bible verses will illuminate a suite of cross references trained on by biblical scholars. With that, feel free to explore, your results will populate below.</p>
            <hr>
          </div>

          <!-- Area Chart Example-->

          <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fas fa-chart-pie"></i>
                    <p id="pieChartText">Percentages</p></div>
                  <div class="card-body">
                    <canvas id="myPieChart" width="100%" height="75"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-chart-bar"></i>
                  <p id="barChartText">Appearances</p></div>
                <div class="card-body">
                  <canvas id="myBarChart" width="100%" height="75"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fa fa-camera-retro"></i>
                    <p id="pieChartText">Proximity</p></div>
                  <div class="card-body">
                    <canvas id="myScatterChart" width="100%" height="75"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fa fa-search-plus"></i>
                    <p id="pieChartText">Embedded Topics</p></div>
                  <div class="card-body">
                    <div id="keywordsContainer"></div>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
          </div>


 <div id="content-wrapper">

        <div class="container-fluid">

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Location</th>
                      <th>Content</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Rank</th>
                      <th>Location</th>
                      <th>Content</th>
                    </tr>
                  </tfoot>
                  <tbody id="dataTableBody">
                  
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        </div>
        <!-- /.container-fluid -->


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>DeepWisdom©,LLC 2018 All Rights Reserved</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'deepwisdom/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <!--
    <script src="{% static "js/demo/chart-scatter-demo.js"></script>
    -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'deepwisdom/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'deepwisdom/js/demo/datatables-demo.js' %}"></script>

    <!--
    <script src="{% static "js/demo/chart-pie-demo.js"></script>
    -->
  </body>

</html>
